<section>
    <div class="page-heading col-sm-12">
        <h4>Employees:</h4>
    </div>
    <div class="col-sm-12">
        <div class="employee-list-div col-sm-offset-2 col-sm-8">
            <table class="employee-list-table table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="index">#</th>
                        <th class="name">Name</th>
                        <th class="position">Actual Position</th>
                        <th class="edit"></th>
                        <th class="delete"></th>
                    </tr> 
                </thead>                   
                
                <tbody data-bind="foreach: employeeList">
                    <tr>
                        <td data-bind="text: ID"></td>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Position"></td>
                        <td><button type="button" class="btn btn-sm btn-primary" data-bind="click: $parent.details">Edit</button></td>
                        <td><button type="button" class="btn btn-sm btn-primary" data-bind="click: $parent.delete">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="button-add">
        <button class="btn btn-primary " data-bind="click: addEmployee">Add employee</button>
    </div>
</section>